.about {
  scroll-margin-top: 3em;
}

.about__block {
  display: flex;
  column-gap: 30px;
}

.about__images {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}

.about__img {
  object-fit: cover;
}

.about__title {
  margin: 20px 0;
}

.about__description {
  text-align: justify;
}

.about__booking-link {
  margin-top: 20px;

  @media (min-width: $tablet) {
    margin-top: 44px;
  }
}
