.barbers {
  scroll-margin-top: 3em;
  // background-color: $grey;
  background-color: $black;
  // background-color: #1b1d25;
  // border-top: 1px solid $gold;
}

.barbers__title {
  margin: 20px 0 44px 0;

  @media (min-width: $desktop) {
    margin: 30px 0 60px 0;
  }
}

.barbers__list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  overflow: hidden;

  @media (min-width: $tablet) {
    row-gap: 64px;
  }

  @media (min-width: $laptop) {
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
  }

  @media (min-width: $desktop) {
    column-gap: 50px;
  }
}

.barbers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barbers__barber-photo {
  object-fit: cover;

  @media (min-width: $tablet) {
    width: 400px;
    height: 500px;
  }

  @media (min-width: $laptop) {
    width: 367px;
    height: 450px;
  }

  @media (min-width: $desktop) {
    width: 550px;
    height: 650px;
  }
}

.barbers__barber-name {
  margin: 30px 0 8px 0;
}

.barbers__barber-position {
  color: $gold;
}
