.contacts {
  scroll-margin-top: 3em;
  color: $blue;
  background: $darkblue url("../img/contacts-bg.png");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: $tablet) {
    background-position: 0;
  }
}

.contacts__title {
  color: $white;
  margin: 0 auto;
  width: max-content;

  @media (min-width: $tablet) {
    margin: 0;
  }
}

.contacts__info {
  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    column-gap: 120px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 40px 0;

  @media (min-width: $tablet) {
    margin: 40px 0 0 0;
  }
}

.contacts__item {
  position: relative;
  padding-left: 35px;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
  }

  &--phone {
    &::before {
      background-image: url("../img/icons/phone.svg");
    }
  }

  &--adress {
    font-weight: 700;
    &::before {
      background-image: url("../img/icons/map-pin.svg");
    }
  }

  a {
    color: $blue;
    text-decoration: none;
    transition: 0.4s;

    &:hover {
      opacity: 0.5;
    }
  }
}

.contacts__times {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.contacts__work-time {
  &::before {
    background-color: $blue;
  }
}
