.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 15px;
  z-index: 8;
  transition: 0.4s;
  border-bottom: 1px solid transparent;

  &--scroll {
    background-color: $black;
    border-bottom: 1px solid $gold;
  }

  @media (min-width: $tablet) {
    padding: 25px 30px;
  }

  @media (min-width: $laptop) {
    padding: 25px 60px;
  }

  @media (min-width: $desktop) {
    padding: 30px 120px;
  }
}

.main-nav__block {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  padding: 20px 25px;
  background-color: $white;
  z-index: 9;
  overflow: hidden;
  transform: translateX(100%);
  transition: 0.4s;

  &--open {
    transform: translateX(0);
  }

  @media (min-width: $tablet) {
    flex-direction: row;
    column-gap: 35px;
    position: static;
    height: auto;
    background-color: transparent;
    width: auto;
    padding: 0;
    transform: translateX(0);
  }

  @media (min-width: $laptop) {
    column-gap: 75px;
  }

  @media (min-width: $desktop) {
    column-gap: 150px;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  margin-top: 40px;

  @media (min-width: $tablet) {
    flex-direction: row;
    column-gap: 20px;
    margin-top: 0;
  }

  @media (min-width: $laptop) {
    align-items: center;
    column-gap: 35px;
  }

  @media (min-width: $desktop) {
    column-gap: 50px;
  }
}

.main-nav__link {
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
  color: $black;
  transition: 0.4s;

  &--logo {
    color: $white;
    font-size: 26px;
  }

  &--menu {
    font-size: 20px;
  }

  &:not(&--logo) {
    &:hover {
      color: $gold;
    }
  }

  @media (min-width: $tablet) {
    color: $white;

    &--logo {
      font-size: 28px;

      &:hover {
        color: $gold;
      }
    }

    &:not(&--logo) {
      font-size: 16px;
    }
  }

  @media (min-width: $laptop) {
    &--logo {
      font-size: 40px;
      line-height: 30px;
    }

    &:not(&--logo) {
      font-size: inherit;
    }
  }

  @media (min-width: $desktop) {
    &--logo {
      font-size: 50px;
      line-height: 38px;
    }
  }
}

.main-nav__button {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  width: 40px;
  height: max-content;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--open {
    // background-color: $darkblue;
    // backdrop-filter: blur(10px);
  }

  &--close {
    width: 28px;
    height: 28px;
    background-color: transparent;
    background-image: url("../img/icons/close.svg");
    background-repeat: no-repeat;
    background-size: contain;
    align-self: end;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__button-elem {
  display: block;
  width: 100%;
  height: 3px;
  background-color: $white;
}

.main-nav__info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 60px;

  @media (min-width: $tablet) {
    align-items: center;
    margin-top: 0;
  }

  @media (min-width: $laptop) {
    flex-direction: row;
    column-gap: 30px;
  }

  @media (min-width: $desktop) {
    column-gap: 50px;
  }
}

.main-nav__booking-link {
  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $laptop) {
    color: $white;
    display: block;
  }
}
