.main-header {
  // color: $blue;
  color: $gold;
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url("../img/bg/mobile/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  // padding: 161px 15px 150px 15px;
  padding: 0px 15px;

  @media (min-width: $tablet) {
    background-image: url("../img/bg/tablet/header.png");
    padding: 300px 30px 300px 30px;
  }

  @media (min-width: $laptop) {
    background-image: url("../img/bg/laptop/header.png");
    padding: 300px 60px 300px 60px;
  }

  @media (min-width: $desktop) {
    padding: 410px 120px 410px 120px;
  }
}

.main-header__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  // row-gap: 20px;
  row-gap: 22px;

  @media (min-width: $tablet) {
    row-gap: 25px;
    width: max-content;
    margin: 0 auto;
  }

  @media (min-width: $laptop) {
    row-gap: 30px;
  }
}

.main-header__suptitle {
  &::before {
    top: 9px;
    // background-color: $blue;
    background-color: $gold;
  }

  @media (min-width: $laptop) {
    &::before {
      top: 12px;
    }
  }
}

.main-header__title {
  // font-size: 35px;
  // line-height: 40px;
  font-size: 41px;
  line-height: 46px;
  color: $white;
  // color: $gold;

  @media (min-width: $tablet) {
    font-size: 50px;
    line-height: 55px;
  }

  @media (min-width: $laptop) {
    font-size: 63px;
    line-height: 68px;
  }

  @media (min-width: $desktop) {
    font-size: 90px;
    line-height: 75px;
  }
}

.main-header__description {
  // width: 285px;
  width: 333px;
  text-align: justify;

  @media (min-width: $tablet) {
    width: 373px;
  }

  @media (min-width: $laptop) {
    width: 510px;
  }

  @media (min-width: $desktop) {
    width: 730px;
  }
}
