.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;

  @media (min-width: $tablet) {
    padding: 35px 30px;
  }

  @media (min-width: $laptop) {
    padding: 40px 60px;
  }

  @media (min-width: $desktop) {
    padding: 50px 120px;
  }
}

.main-footer__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 100%;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.main-footer__copyright {
  color: grey;
  align-self: center;
}

.main-footer__list {
  display: flex;
  column-gap: 40px;
  order: -1;

  @media (min-width: $tablet) {
    order: 1;
  }
}

.main-footer__item {
  position: relative;
  margin-left: 70px;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -70px;
    width: 60px;
    height: 1px;
    // background-color: $black;
    background-color: $gold;
  }

  @media (min-width: $laptop) {
    &::before {
      top: 11px;
    }
  }

  @media (min-width: $desktop) {
    &::before {
      top: 15px;
    }
  }
}

.main-footer__link {
  color: inherit;
  text-decoration: none;
  transition: 0.4s;

  &:hover {
    opacity: 0.5;
  }
}

.main-footer__button-up {
  position: fixed;
  right: 15px;
  bottom: 95px;
  display: block;
  background-image: url("../img/icons/arrow.svg");
  background-color: $black;
  background-size: 65%;
  background-position: center;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  cursor: pointer;
  border: 1px solid $gold;
  border-radius: 50%;
  opacity: 0;
  transition: 0.4s;
  transform: scale(0);

  &--visually {
    opacity: 1;
    transform: scale(1);
  }

  @media (min-width: $tablet) {
    bottom: 80px;
    right: 30px;
  }

  @media (min-width: $laptop) {
    bottom: 105px;
    right: 60px;
    width: 50px;
    height: 50px;
  }

  @media (min-width: $desktop) {
    bottom: 115px;
    right: 120px;
    width: 70px;
    height: 70px;
  }
}
