.services {
  scroll-margin-top: 3em;
  color: $blue;
  background: $darkblue url("../img/price-bg.png");
  background-size: cover;
}

.services__suptitle {
  &::before {
    background-color: $blue;
  }
}

.services__title {
  color: $white;
  width: max-content;
  margin: 20px auto 44px auto;

  @media (min-width: $tablet) {
    margin: 20px 0 44px 0;
  }
}

.services__list {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  backdrop-filter: blur(10px);
  padding: 20px 25px;
  border: 1px solid $darkblue;

  @media (min-width: $tablet) {
    backdrop-filter: blur(20px);
    padding: 32px 40px;
  }
}

.services__item {
  display: flex;
  justify-content: space-between;
}

.services__booking-link {
  margin: 25px auto 0 auto;
  color: $white;

  @media (min-width: $tablet) {
    margin: 40px auto 0 auto;
  }
}
