.container {
  padding: 60px 15px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 80px 30px;
  }

  @media (min-width: $laptop) {
    padding: 110px 60px;
  }

  @media (min-width: $desktop) {
    padding: 150px 120px;
  }
}
