* {
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 22px;
  // color: $black;
  color: $gold;
  min-width: 375px;
  // background-color: $whitesmoke;
  background-color: $black;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 23px;
  }

  @media (min-width: $laptop) {
    font-size: 19px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    font-size: 25px;
    line-height: 30px;
  }
}

h2 {
  font-size: 26px;
  line-height: 30px;
  color: $whitesmoke;

  @media (min-width: $tablet) {
    font-size: 35px;
    line-height: 40px;
  }

  @media (min-width: $laptop) {
    font-size: 42px;
    line-height: 46px;
  }

  @media (min-width: $desktop) {
    font-size: 50px;
    line-height: 54px;
  }
}

h3 {
  color: $whitesmoke;
}

.suptitle {
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  padding-left: 50px;
  display: inline-flex;

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 40px;
    height: 1px;
    // background-color: $black;
    background-color: $gold;
  }

  @media (min-width: $tablet) {
    padding-left: 75px;

    &::before {
      width: 60px;
    }
  }

  @media (min-width: $laptop) {
    font-size: 15px;

    &::before {
      top: 11px;
    }
  }

  @media (min-width: $desktop) {
    font-size: 20px;

    &::before {
      top: 12px;
    }
  }
}

.online-booking {
  text-transform: uppercase;
  // color: $black;
  color: $whitesmoke;
  font-weight: 600;
  text-decoration: none;
  display: block;
  width: max-content;
  background-color: red;
  padding: 12px 20px;
  // border: 1px solid $gold;
  border-radius: 30px;
  transition: 0.4s;

  &:hover {
    // color: $white;
    background-color: $gold;
  }

  @media (min-width: $desktop) {
    padding: 15px 25px;
  }
}
